

<div class="friends-container">
  <div class="friend-search-container">

    <h2>Friends List</h2>
    <input
    type="text"
    id="friend-search-input"
    ng-model="searchTerm"
    placeholder="Search friends..."
    ng-change="searchFriends()"
    />
  </div>
  <div class="friends-flex">
    <div
      class="friend-card"
      ng-repeat="friend in friends"
      ng-click="viewProfile(friend.name, friend.friend_id)"
    >
       
      <div class="photo">
        <img
          ng-src="{{ friend.profile_photo }}"
          alt="{{ friend.name }}"
          class="profile-photo"
        />
        <h3>{{ friend.name }}</h3>
      </div>
      <div class="friend-details">
        <button
          class="view-profile-btn"
          ng-click="viewProfile(friend.name, friend.friend_id)"
        >
          View Profile
        </button>
      </div>
    </div>
  </div>

  <p ng-if="isLoading" id="N0-friends">Loading more friends...</p>
  <p ng-if="!hasMore && friends.length === 0"  id="N0-friends">No friends found.</p>
</div>
