<div ng-if="!chatData" id="parentNS">
  <div id="childNS">
    <h3>Chat App for Almashines</h3>
    <p>Enjoy chatting with your friends</p>
  </div>
</div>

<div ng-if="chatData" id="parent">
  <div class="msg-nav">
    <div class="nav-img">
      <img src="{{chatData.profile_photo}}" alt="prof"/>
    </div>
    <div class="nav-con">
      <div>
        <p id="pname">{{chatData.name}}</p>
      </div>
      <div>
        <p>{{ getLastSeenMessage(chatData.last_message) }}</p>
      </div>
    </div>
  </div>

  <div id="chat-msg">
    <h1>Welcome</h1>
    <p>This is the main content area.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac
      massa tincidunt feugiat. Integer ultricies dolor a est fermentum, quis
    sodales elit sollicitudin. Quisque nec eros non dolor malesuada ullamcorper.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac
      massa tincidunt feugiat. Integer ultricies dolor a est fermentum, quis
      sodales elit sollicitudin. Quisque nec eros non dolor malesuada ullamcorper.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac
      massa tincidunt feugiat. Integer ultricies dolor a est fermentum, quis
      sodales elit sollicitudin. Quisque nec eros non dolor malesuada ullamcorper.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac
      massa tincidunt feugiat. Integer ultricies dolor a est fermentum, quis
      sodales elit sollicitudin. Quisque nec eros non dolor malesuada ullamcorper.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac
      massa tincidunt feugiat. Integer ultricies dolor a est fermentum, quis
      sodales elit sollicitudin. Quisque nec eros non dolor malesuada ullamcorper.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac
      massa tincidunt feugiat. Integer ultricies dolor a est fermentum, quis
      sodales elit sollicitudin. Quisque nec eros non dolor malesuada ullamcorper.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac
      massa tincidunt feugiat. Integer ultricies dolor a est fermentum, quis
      sodales elit sollicitudin. Quisque nec eros non dolor malesuada ullamcorper.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac
      massa tincidunt feugiat. Integer ultricies dolor a est fermentum, quis
      sodales elit sollicitudin. Quisque nec eros non dolor malesuada ullamcorper.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus ac
      massa tincidunt feugiat. Integer ultricies dolor a est fermentum, quis
      sodales elit sollicitudin. Quisque nec eros non dolor malesuada ullamcorper.
    </p>
  </div>
  
  <div class="sticky-input-container">
    <span class="material-icons attach" ng-click="triggerFileInput()">
      attachment
    </span>
    <input type="file" class="file-input" id="fileInput" hidden onchange="angular.element(this).scope().logSelectedFile(this)"/>
    <textarea rows="1" class="text-input" placeholder="Type your message here..." ng-model="message" ng-keyup="adjustHeight($event)">

    </textarea>
    <span class="material-icons send" ng-click="sendMessage()">
      send
    </span>
  </div>

  <dialog id="fileDialog" class="file-dialog">
    <h3>File Details</h3>
    <p><strong>Name:</strong> {{ selectedFile.name }}</p>
    <p><strong>Type:</strong> {{ selectedFile.type || 'Unknown' }}</p>
    <p><strong>Size:</strong> {{ (selectedFile.size / 1024).toFixed(2) }} KB</p>
    <div class="dialog-div">
      
      <span ng-click="closeDialog()" id="cancel" class="material-icons">
        close
        </span>
      <span id="send-dialog" class="material-icons send" ng-click="sendMessage()">
        send
      </span>
    </div>
  </dialog>
</div>


