<!-- 
    
    <h3>{{$ctrl.dialogTitle}}</h3>
    
    
    <div ng-if="$ctrl.editType === 'basicDetails'">
        <label for="name">Name:</label>
        <input type="text" id="name" ng-model="$ctrl.editData.name" />
        <label for="bio">Bio:</label>
        <textarea id="bio" ng-model="$ctrl.editData.bio"></textarea>
        <label for="currentCity">Current City:</label>
        <input type="text" id="currentCity" ng-model="$ctrl.editData.currentCity" />
    </div>
    
    
    <div ng-if="$ctrl.editType === 'contactDetails'">
        <label for="primaryEmail">Primary Email:</label>
        <input type="email" id="primaryEmail" ng-model="$ctrl.editData.primaryEmail" />
        <label for="primaryPhone">Primary Phone:</label>
        <input type="text" id="primaryPhone" ng-model="$ctrl.editData.primaryPhone" />
        
        <label for="alternateEmails">Alternate Emails:</label>
        <ul>
            <li ng-repeat="email in $ctrl.editData.alternateEmails">
                {{email}} <button type="button" ng-click="$ctrl.removeAlternateEmail($index)">Remove</button>
            </li>
        </ul>
        <input type="text" ng-model="$ctrl.editData.nae" placeholder="Add alternate email" />
        <button type="button" ng-click="$ctrl.addAlternateEmail()">Add</button>
        
        <label for="alternatePhones">Alternate Phones:</label>
        <ul>
            <li ng-repeat="phone in $ctrl.editData.alternatePhones">
                {{phone}} <button type="button" ng-click="$ctrl.removeAlternatePhone($index)">Remove</button>
            </li>
        </ul>
        <input type="text" ng-model="$ctrl.editData.nap" placeholder="Add alternate phone" />
        <button type="button" ng-click="$ctrl.addAlternatePhone()">Add</button>
    </div>
    
    <div ng-if="$ctrl.editType === 'education'">
        <label for="institution">Institution:</label>
        <input type="text" id="institution" ng-model="$ctrl.editData.institution" />
        <label for="degree">Degree:</label>
        <input type="text" id="degree" ng-model="$ctrl.editData.degree" />
        <label for="duration">Duration:</label>
        <input type="text" id="duration" ng-model="$ctrl.editData.duration" />
    </div>
    
    <div ng-if="$ctrl.editType === 'work'">
        <label for="position">Position:</label>
        <input type="text" id="position" ng-model="$ctrl.editData.position" />
        <label for="company">Company:</label>
        <input type="text" id="company" ng-model="$ctrl.editData.company" />
        <label for="duration">Duration:</label>
        <input type="text" id="duration" ng-model="$ctrl.editData.duration" />
    </div>
    
    <div class="dialog-buttons">
        <button type="button" ng-click="$ctrl.onSave()">Save</button>
        <button type="button" ng-click="$ctrl.onClose()">Cancel</button>
        <button type="button" ng-if="$ctrl.editType === 'education' || $ctrl.editType === 'work'" ng-click="$ctrl.onDelete()">Delete</button>
    </div>  -->

<h3>fasad sdsdsadas</h3>
