.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  height: 90vh;
  overflow: hidden;
  min-width: 100%;

}

/* Sidebar Styling */
.sidebar {
  width: 30%;
  background-color: #01182e;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scroll for sidebar */
  transition: transform 0.3s ease-in-out;
}

.sidebar h2 {
  margin-top: 0;
}

#chatBack{
  font-size: 14px;
}
.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.sidebar a:hover {
  background-color: #34495e;
}

/* Main Content Styling */
.main-content {
  width: 70%;
  position: relative;
  margin: 0;
  background-color: #ecf0f1;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Hide Sidebar when Chat is Open (Mobile View) */
/* .hidden-sidebar {
display: none;
} */

/* Back Button */
.back-btn {
  display: none; /* Initially hidden */
  position: absolute;
  top: 10px;
  left: 5px;
  background-color: #ebf5f5;
  color: #000000;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  z-index: 10;
}

.back-btn:hover {
  background-color: #3c4f56;
}

/* Show Back Button when Chat is Selected */


/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
  .back-btn {
    display: block; /* Show back button on small screens */
  }
  .main-content {
    display: none;
  }

  .sidebar.hidden-sidebar {
    display: none;
  }

  .main-content.visible-main {
    display: block;
    width: 100%;
  }
}
