.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  height: 90vh;
  /* overflow: hidden; */
  background-color: #0c1317;
  min-width: 100%;
}

.sidebar {
  width:30%;
  background-color: #01182e;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scroll for sidebar */
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.sidebar a:hover {
  background-color: #34495e;
}

.main-content {
  width: 70%;
  position: relative;
  margin: 0;
  background-color: #ecf0f1;
  box-sizing: border-box;
  overflow-y: auto; 
}
.back-btn {
 /* Hidden by default */
 display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #ebf5f5;
  color: #000000;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  z-index: 10;
}

.back-btn:hover {
  background-color: #3c4f56;
}




@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width by default */
  }

  .main-content {
    display: none; /* Hide main-content by default */
  }

  .sidebar.hidden-sidebar {
    display: none; /* Hide sidebar when chat is selected */
  }

  .main-content.visible-main {
    display: block; /* Show main-content when chat is selected */
    width: 100%; /* Take full width */
  }

  .back-btn {
    display: block; /* Show back button on small screens */
  }
}